*.ide
*.lock
*.ide-shm
*.cache
*.ide-wal
*..suo
.vs/config/applicationhost.config
.vs/ExtendedConsole/v15/.suo
*.cache
*.dtbcache
*.cache
*.cache
*.cache
.vs/ExtendedConsole/DesignTimeBuild/.dtbcache.v2
.vs/ExtendedConsole/DesignTimeBuild/.dtbcache.v2
.vs/ExtendedConsole/v16/.suo
.vs/ExtendedConsole/v16/TestStore/0/000.testlog
